[murano]
# keystone url
# auth_url = http://127.0.0.1:5000/v2.0/

# keystone user
# user = admin

# password for keystone user
# password = admin

# keystone tenant
# tenant = admin

# keyname - used for debugging murano-agent
# keyname = keyname

# murano url
# murano_url = http://127.0.0.1:8082

# Flavor for sanity checks
# standard_flavor = m1.medium

# Flavor for advanced checks
# advanced_flavor = m1.medium

# image for linux services
# linux_image = default_linux

# murano instance type
# instance_type = io.murano.resources.LinuxMuranoInstance

# image for docker applications
# docker_image = debian-8-docker.qcow2

# image for kubernetes applications
# kubernetes_image = ubuntu14.04-x64-kubernetes.qcow2

# image for windows services
# windows_image = default_windows

# image for hdp sandbox
# hdp_image = hdp-sandbox

# region name for services
# region_name = None
