include requirements.txt
include tools/pip-requires
include run_tests.sh
include ChangeLog
include README.rst
include MANIFEST.in
include AUTHORS
include LICENSE
include ChangeLog
include babel.cfg
include tox.ini
include openstack-common.conf
include muranoapi/db/migrate_repo/README
include muranoapi/db/migrate_repo/migrate.cfg
include muranoapi/db/migrate_repo/versions/*.sql
recursive-include etc *
global-exclude *.pyc
