include requirements.txt
include tools/pip-requires
include run_tests.sh
include ChangeLog
include README.rst
include MANIFEST.in
include AUTHORS
include LICENSE
include ChangeLog
include babel.cfg
include tox.ini
include openstack-common.conf
include murano/db/migration/alembic.ini
include murano/db/migration/alembic_migrations/README
include murano/db/migration/alembic_migrations/script.py.mako
recursive-include etc *
global-exclude *.pyc
