# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
hacking<0.11,>=0.10.0

coverage>=3.6
fixtures>=1.3.1
mock>=1.2
nose
oslotest>=1.10.0 # Apache-2.0
posix-ipc
sqlalchemy-migrate>=0.9.6
tempest-lib>=0.8.0
testrepository>=0.0.18
testresources>=0.2.4
testscenarios>=0.4
testtools>=1.4.0
unittest2
pylint==1.4.4 # GNU GPL v2
requests!=2.8.0,!=2.9.0,>=2.5.2

# Some of the tests use real MySQL and Postgres databases
PyMySQL>=0.6.2 # MIT License
psycopg2>=2.5

# doc build requirements
oslosphinx>=2.5.0 # Apache-2.0
sphinx!=1.2.0,!=1.3b1,<1.3,>=1.1.2
sphinxcontrib-httpdomain
reno>=0.1.1 # Apache2
