hacking>=0.8.0,<0.9

unittest2
coverage>=3.6
fixtures>=0.3.14
mox>=0.5.3
nose
nose-exclude
openstack.nose_plugin>=0.7
nosehtmloutput>=0.0.3
sphinx>=1.1.2,<1.2
requests>=1.1
testtools>=0.9.32
mock>=1.0

# Optional packages that should be installed when testing
xattr>=0.4
