FormatVersion: 2.0.0
Version: 1.0.0
Name: Deploy Tomcat
Parameters:
  appName: $appName
Body: |
  deploy(args.appName)
Scripts:
  deploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: deployTomcat.sh
    Files: []
    Options:
      captureStdout: false
      captureStderr: true