{
  "Scripts": [
    "ZnVuY3Rpb24gSW5zdGFsbC1XZWJTZXJ2ZXIgew0KICAgIEltcG9ydC1Nb2R1bGUgU2VydmVyTWFuYWdlcg0KICAgIEluc3RhbGwtV2luZG93c0ZlYXR1cmUgV2ViLVNlcnZlciAtSW5jbHVkZU1hbmFnZW1lbnRUb29scw0KfQ0K"
  ],
  "Commands": [
    {
      "Name": "Install-WebServer",
      "Arguments": {}
    }
  ],
  "RebootOnCompletion": 0
}