FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy Example Puppet

Parameters:
  port: $port

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Puppet
    Version: 1.0.0
    EntryPoint: test::install
    Files:
        -  test/manifests/install.pp
    Options:
      captureStdout: true
      captureStderr: true
