FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy Example Chef

Parameters:
  port: $port

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: test::install
    Files:
        -  test/recipes/install.rb
        -  test/metadata.rb
        -  test/README.rdoc
    Options:
      captureStdout: true
      captureStderr: true
