{% extends "horizon/common/_modal_form.html" %}
{% load i18n horizon humanize %}

{% block form_action %}{% url horizon:project:windc:create %}?{{ request.POST.urlencode }}{% endblock %}

{% block modal_id %}create_service{% endblock %}
{% block modal-header %}{% trans "Create Service" %}{% endblock %}

{% block modal-body %}
<div class="left">
<br>
{% if wizard.steps.next %}
<br><br><br>
{% endif %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
{{ wizard.form.forms }}
</table>
</div>
<div class="right">
    {% if wizard.steps.prev %}
        <H3>{{ service_type }} Service</H3>
        {% if service_type == 'Active Directory' %}
            <p>{% trans "Now you can set the parameters for Active Directory Service." %}</p>
            <p>{% trans "You can create few Active Directory instances, in this case will be created one Main Active Directory server and few Secondary Active Directory servers." %}</p>
            <p>{% trans "The DNS service will be automatically created on each Active Directory servers." %}</p>
        {% else %}
            <p>{% trans "Now you can set parameters for IIS Service." %}</p>
            <p>{% trans "The IIS Service - it is the server with complex Internet Information Services infrastructure, which included to the domain infrasructure." %}</p>
            <p>{% trans "Please, set the complex password for local administrator account." %}</p>
            <p>{% trans "Also, you can add this IIS server to the existing domain and configure credentials for domain user." %}</p>
        {% endif %}

    {% else %}
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Now you can select the type of the service." %}</p>
    <p>{% trans "The Active Directory Service allows to configure Domain Controllers with Active Directory and DNS infrastructure. You can create one Main Domain Controller and few Secondary Domain Controllers." %}</p>
    <p>{% trans "The Internet Information Services allows to configure IIS servers, which can be included to the existing domain infrastructure." %}</p>
    {% endif %}
</div>
{% endblock %}

{% block modal-footer %}
{% if wizard.steps.prev %}
<input type="submit" class="btn btn-primary pull-right"  value="{% trans 'Create' %}"/>
{% else %}
<button name="wizard_goto_step" class="btn btn-small" type="submit" value="{{ wizard.steps.next }}">{% trans "Next >" %}</button>
{% endif %}
{% endblock %}
