<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="file" xsi:type="File" fileName="${basedir}/log.txt"
					layout="${date} ${level}: &lt;${logger:shortName=true}&gt; ${message} ${exception:format=tostring}"/>
		</targets>

		<rules>
			<logger name="*" minlevel="Debug" writeTo="file" />
		</rules>
	</nlog>
	<appSettings>
		<add key="rabbitmq.host" value="%RABBITMQ_HOST%"/>
		<add key="rabbitmq.port" value="%RABBITMQ_PORT%"/>
		<add key="rabbitmq.user" value="%RABBITMQ_USER%"/>
		<add key="rabbitmq.password" value="%RABBITMQ_PASSWORD%"/>
		<add key="rabbitmq.vhost" value="%RABBITMQ_VHOST%"/>
		<add key="rabbitmq.inputQueue" value="%RABBITMQ_INPUT_QUEUE%"/>
		<add key="rabbitmq.resultExchange" value=""/>
		<add key="rabbitmq.resultRoutingKey" value="%RESULT_QUEUE%"/>
		<add key="rabbitmq.durableMessages" value="true"/>

		<add key="rabbitmq.ssl" value="%RABBITMQ_SSL%"/>
		<add key="rabbitmq.allowInvalidCA" value="true"/>
		<add key="rabbitmq.sslServerName" value=""/>

		<add key="engine.key" value="%SIGNING_KEY%"/>

	</appSettings>
</configuration>
