FormatVersion: 2.0.0
Version: 1.0.0
Name: $planName

Parameters:
  path: $path

Body: |
  return putFile("'{0}'".format(args.path)).exitCode == 0

Files:
  destinationFile:
    BodyType: Base64
    Name: destinationFile
    Body: $fileContent

Scripts:
  putFile:
    Type: Application
    Version: 1.0.0
    EntryPoint: putFile.sh
    Files:
      - destinationFile
    Options:
      captureStdout: false
      captureStderr: true
      verifyExitcode: $verifyExitcode