FormatVersion: 2.0.0
Version: 1.0.0
Name: $planName

Body: return runCommand()

Files:
  scriptFile:
    BodyType: Text
    Name: scriptFile.sh
    Body: $command

Scripts:
  runCommand:
    Type: Application
    Version: 1.0.0
    EntryPoint: scriptFile.sh
    Options:
      captureStdout: $captureStdout
      captureStderr: $captureStderr
      verifyExitcode: $verifyExitcode
