{
  "Scripts": [
    "ImportCoreFunctions.ps1",
    "Set-LocalUserPassword.ps1"
  ],
  "Commands": [
    {
      "Name": "Set-LocalUserPassword",
      "Arguments": {
        "UserName": "Administrator",
        "Password": "$adminPassword",
        "Force": true
      }
    }
  ],
  "RebootOnCompletion": 0
}