# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet static
        address 67.207.197.34
        netmask 255.255.255.240
        gateway 67.207.197.33
        # dns-* options are implemented by the resolvconf package, if installed
        dns-nameservers 208.166.50.13 67.207.201.6
        dns-search svwh.net


auto eth0.260
iface eth0.260 inet manual
    vlan-raw-device eth0
    post-up  ifconfig $IFACE 172.18.124.102/29
#    post-up  route add -net 172.18.0.0/16 gw 172.18.124.97
#    pre-down route del -net 172.18.0.0/16 gw 172.18.124.97
    post-up ip route add default via 172.18.124.97 dev $IFACE table 260
    post-up ip rule add from 172.18.124.96/29 to 172.18.0.0/16 table 260
    pre-down ip rule del from 172.18.124.96/29 to 172.18.0.0/16
    pre-down ip route del table 260
    pre-down ifconfig $IFACE 0.0.0.0


auto eth0.261
iface eth0.261 inet manual
    vlan-raw-device eth0
    post-up  ifconfig $IFACE 172.18.124.202/26
    post-up  route add -net 172.18.0.0/16 gw 172.18.124.193 dev $IFACE
    pre-down route del -net 172.18.0.0/16 gw 172.18.124.193 dev $IFACE
    pre-down ifconfig $IFACE 0.0.0.0


auto eth1
iface eth1 inet manual
    up ifconfig $IFACE up
    down ifconfig $IFACE down
#    up ifconfig $IFACE 0.0.0.0


#auto eth1.221
#iface eth1.221 inet manual
#    vlan-raw-device eth1
#    pre-up ifconfig $IFACE up
#    post-down ifconfig $IFACE down
#    up ifconfig $IFACE 0.0.0.0
